body {
    font-family: 'Ubuntu', sans-serif;
    color: #6a6a6a;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 350px;
    padding: 20px 30px;
    background: white;
    opacity: 0;
    transition: opacity 300ms linear;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    padding-bottom: 11px;
    border-bottom: 1px dashed #ccc;
}
h1 span {
    position: relative;
    left: -4px;
    transform: rotate3d(7, 1, 1, 86deg) scale(2, 2);
    opacity: 0;
}

.info.show {
    opacity: 1;
}

.info.show h1 span {
    left: 0;
    opacity: 1;
    transform: rotate3d(1, 1, 1, 0) scale(1, 1);
}

.info.show h2, .info.show h3 {
    opacity: 1;
    top: 0;
}

h2, h3 {
    text-transform: uppercase;
    color: #aaa;
    opacity: 0;
    position: relative;
    top: 5px;
    transition: all 200ms ease-in;
}

h2 {
    margin: 11px 0;
    font-size: 14px;
    transition-delay: 350ms;
}

h3 {
    font-size: 11px;
    font-weight: 800;
    transition-delay: 500ms;
}

a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #aaa;
    transition: all 200ms ease-in;
}

a:hover {
    color: #333;
}
